# Configuración de Telegram
TELEGRAM_TOKEN_SEDE_1=tu_token_aqui_1 
TELEGRAM_TOKEN_SEDE_2=tu_token_aqui_2 
TELEGRAM_TOKEN_SEDE_3=tu_token_aqui_3 
TELEGRAM_TOKEN_SEDE_4=tu_token_aqui_4 
# Configuración de Gemini
GEMINI_API_KEY=tu_api_key_aqui

# Configuración de Google Sheets (Ruta al archivo JSON descargado)
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

# IDs de los archivos de Google Sheets (Se extrae de la URL del archivo)
SHEET_ID_SEDE_1=id_del_archivo_1
SHEET_ID_SEDE_2=id_del_archivo_2
SHEET_ID_SEDE_3=id_del_archivo_3
SHEET_ID_SEDE_4=id_del_archivo_4
